@import "../../sass/variable.scss";

.container {

    color: black;
    
}

.jumbotron {

    opacity: 0.3;
    margin-top: 10px;
    background-color: grey;
    
}

h1 {
font-size: 70px;
font-style: $text-font;

}

p {
    font-size: 25px;
}

h4 {
    color:$primary-color;
    font-style: oblique;
 
}

