@import "../../sass/variable.scss";

.buttonButton {
    background-color: black;
    color:whitesmoke;
    margin-right: 25px;
}

.buttonButton:hover {
    background-color:$primary-color;
    opacity: 0.4;
   
}