
// page colors 
$primary-color: rgb(253, 32, 16);
$background-color: #F5F5F5;

// text colors
$dark-text: rgb(199, 5, 5);
$light-text: #F5F5F5;

// fonts
// $title-font: 'Concert One', cursive;
$text-font:  'Josefin Sans';
$title-font: 'Prosto One', cursive;

$footer-height: 50px;

//background images
$background-image: url("https://static5.depositphotos.com/1000797/453/v/450/depositphotos_4532300-stock-illustration-woman-in-red.jpg");

