@import "../../sass/variable.scss";

.homeBox {
    margin: 0 auto;
    margin-top: 20vh;
    width: 300px;
    font-family: $text-font;

    button {
        font-size: 1.3em;
        font-weight: bold;
    }

    background-image: url("https://static5.depositphotos.com/1000797/453/v/450/depositphotos_4532300-stock-illustration-woman-in-red.jpg");
    ;
}