@import "../../sass/variable.scss";

.navbar {
    background: $primary-color;
    box-shadow: 0 3px 10px $dark-text;
    font-family: $text-font;

    a.titleFont {
        font-family: $title-font;
        color: $light-text;
    }

    a.titleFont:hover {
        color: $light-text;
        font-weight: bold;
        font-size: 150%;
    }

    a.nav-link {
        font-size: 1.2em;
    }

    .light-text {
        color: $light-text
    }

    .fas fa-female {
    margin-right: 15px;
    
    }

   
}

.backback
{
    background-color: rgb(253, 247, 252);
}

