@import "../../sass/variable.scss";

.legend {
    height: 65px;
    font-family: 'Kalam', cursive;
    margin: 10px;
}
    
h1 {
    font-family: 'Cedarville Cursive', cursive;
}

.background {
    margin-top: 20px;
}


.carousel .thumb {
height: 100px;
width: 100px;
border-radius: 45px;
margin-bottom: 20px;
margin-top: 20px;
margin-right: 20px;


}


.carousel .thumb img {
    max-width: 185%;
    max-height: 185%;
    
}


img:hover {
    
    opacity: 2.0;
}
.carousel {
    // width: 2035px !important;
    height: 344px; 
    align-content: center;
    font-family: 'Kaushan Script', cursive;
    margin-top: 0px;
    align-content: center;
    margin: 0px;
    float: left;
   
}

.carousel .carousel
{
    height: 80%;
    
    
}




