@import "../../sass/variable.scss";

    #haveButton {
       
        // background-color: blueviolet;
        color: black;
        margin-left: 10px;
        
    }  
    #wantButton {
        
        color: black; 
        :hover {
            color: $light-text;
            
        }
    }

.profilePage {
    margin: 0 auto;
    margin-top: 25px;

    .noUser {
        width: 280px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;

        .loginBtn {
            margin-top: 25px;
        }
    
        .loginLink {
            color: $light-text;
        }
    
        .loginLink:hover {
            text-decoration: none;
        }

        #loadingIcon {
            height: 200px;
            width: 200px;
            margin: 0 auto;
            // margin-top: 25px;
        }
    }

    .profileBox {
        #userTitle {
            text-align: center,
        }
        width: 50%;
        margin-left: 10%;
        margin-right: 10%;
        
    }
}
